:root {
	--maincolor: #13416F;
	--secondcolor: #fff466; 
}

/* ===============================================
   General styles
   ============================================== */

body { 
	font-family: Helvetica,Arial,sans-serif;
}

.logoimage {
	height: 80px;
}
.companyname {
	color: var(--secondcolor);
	font-size:30px;
	text-shadow: 1px 0px #000000;
}
.navbar {
	background-color: rgba(255,255,255,0);
	padding: 10px 0;
}
.navbar-toggler {
	background-color: #000;
}
.navbar-nav > li > a {
	margin-left: 5px;
	margin-right: 5px;
}
.navbar .navbar-nav > li > a {
color: #1B0B03;
}
.navbar .navbar-nav > .active > a {
color: #fff;
background-color: var(--maincolor);
border-radius: 5px 5px 5px 5px;
}

.shrink .logoimage {
	height: 40px;
}
.shrink {
	background-color: rgba(255,255,255,1);
	padding: 0;
	border-bottom: 1px solid #000;
}

.img-fluid {
	border-radius: 5%;
}

.card {
	padding: 20px;
}

/* Links */
a {
	color: var(--maincolor);
}
a:hover, a:focus {
	color: var(--secondcolor);
}

.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 15px;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../images/aslbanner.png) no-repeat center top;
	background-position: center center;
	margin-top: 100px;
	min-height: 600px;
	width: 100%;
	background-size: cover;
}
.headertext {
	margin-top: 450px;
	color: var(--secondcolor);
}
.headertext1{
	margin:0;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.5em;
}
.headertext2{
	margin:0;
	font-size: 6vw;
	font-weight: 800;
	line-height: 1em;
	color:#22457d;
}
.headertext3{
	margin:0;
	padding-top: 10px;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.2em;
	padding-left: 50px;
}
#headerwrap .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 0;
	background-color: var(--maincolor);
	color: #fff;
	border-radius: 5px;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
	background-color:#fff;
	color:#000; 
	outline: 0px;
	border-radius: 5px;
}

.space {
	padding: 10px 0;
}
.headspace {
	padding: 20px 0;
}
.pr-10 {
	padding-right: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
.colored {
	color: var(--maincolor);
}
.secondcolored {
	color: var(--secondcolor);
}
.bgcolored {
	background-color: var(--maincolor);
}
.minheight80{
	min-height: 80px;
}
.btn-asl{
	background-color: var(--maincolor);
	color: var(--secondcolor);
	padding: 10px 50px;
}

.btn-asl:hover, .btn-asl:focus{
	background-color: var(--secondcolor);
	color: var(--maincolor);
}

#about {
	background: #FFF;
	padding: 100px 0;
}
#websiteservices {
	background: #FFFFFF;
	padding-top: 100px;
}
#mobileservices {
	background: #FFFFFF;
	padding: 100px 0;
}

.isotope-container {
	overflow: hidden;
}

#portfolio {
	background: black;
	color: #fff;
	padding: 50px 0 20px 0;
}
#contact {
	padding-bottom: 100px;
}
#aboutus {
	padding-bottom: 100px;
}

.pt100 {
	padding-top: 100px;
}

.pb100 {
	padding-bottom: 100px;
}
.ptb100 {
	padding: 100px 0;
}
.ptb50 {
	padding: 50px 0;
}
.ptb20 {
	padding: 20px 0;
}
.pb50 {
	padding-bottom: 50px;
}
.card{
	margin:10px;
}

footer {
	background: #000;
	padding:10px;
}
.copyright {
	line-height: 40px;
	color: #FFF;
	font-weight: 400;
	font-size: 12px;
}
.copyright a {
	color: #FFF;
}
#contentyear::before {
	content: "2025";
}

ul.social-buttons li {
	display:inline;
}
ul.social-buttons li a {
	font-size: 22px;
	color: #FFFFFF;
	margin-right: 12px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: var(--maincolor);
} 

.tab{
	padding: 10px 0;
  height: 100%;
}
.tab a {
	text-align: left;
	padding: 10px 20px;
}
.tab a.active {
	background-color: var(--maincolor);
	color: var(--secondcolor);
  }

  .tabcontent {
	padding-left: 40px;
  }
  

/* ==========================================
   MEDIA QUERIES
   ======================================== */
@media screen and (max-width:1050px), screen and (max-device-width:1050px) {}

@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {}

@media screen and (max-width:769px) {
	.headspace {
		padding: 50px 0;
	}
}
@media screen and (max-width:480px) {
	.headspace {
		padding: 50px 0;
	}
}